#pick-up-in-store {
	text-align: center;
	button {
		color: #fff;
		background-color: #000;
		border-color: #000;
		width: 245px;
		background: linear-gradient(180deg, #6a6a6a, #000);
		&.find-in-a-store {
			color: #000;
			background-color: transparent;
			background-image: none;
			border: none;
			width: auto;
			font-size: 12px;
			font-weight: bold;
			padding: 0;
			text-transform: lowercase;
		}
	}
}

