.no-star, .full-star {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.no-star {
	background-image: url(/images/no-star.svg);
}

.full-star {
	background-image: url(/images/full-star.svg);
}

.small-stars {
	.no-star, .full-star {
		width: 15px;
		height: 15px;
		background-size: 15px;
	}
}
