#highlights {
	h2 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		text-transform: lowercase;
		font-size: 36px;
	}
	ul li {
		font-size: 14px;
		strong {
			font-weight: normal;
		}
	}
}
