.review-summary {
	padding: 0 1em;
	margin: 1em 0;
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	align-items: baseline;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	.review-view-all {
		cursor: pointer;
	}
}

#reviews {
	background-color: #f6f5f5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0;
	font-size: 12px;
	padding: 1em;

	.review-title {
		font-size: 16px;
		font-weight: bold;
		font-family: Arial, sans-serif;
	}
	.review-head {
		border-bottom: 1px solid #ccc;
		padding-bottom: 1em;
		margin-bottom: 1em;
		font-size: 12px;
		font-family: Arial, sans-serif;
		color: #666;
		h2 {
			margin: 0;
			font-family: "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 18px;
			font-weight: normal;
			color: #000;
		}
	}

	.review-pro, .review-con {
		padding-right: 2em;
	}

	.review-body {
		font-family: Arial, sans-serif;
		color: #333;
	}

	.review-sig {
		margin: 1em 0;
	}
	.review-sig .review-screen-name {
		color: #06c;
	}
}
