#returns {
	display: flex;
	grid-template-columns: 1fr 2fr;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	h1 {
		font-size: 20px;
		font-weight: normal;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid #ccc;
	}
	div {
		font-size: 10px;
		a {
			color: #000;
			font-weight: bold;
			text-decoration: none;
		}
	}
}
