#priceblock {
	h1 {
		font-family: Arial, sans-serif;
		display: inline-block;
		margin-right: .25em;
		font-size: 30px;
	}
	.price-qualifier {
		font-family: Arial, sans-serif;
		font-size: 12px;
		color: #666;
		text-transform: lowercase;
	}
	#purchase {
		margin: 1em 0;
		display: flex;
		> div + div {
			margin-left: 10px;
		}
	}
}
