#promotions {
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #c00;
	ul {
		padding: 0 1em;
		list-style-image: url(/images/tag.png);
	}
	border: 1px solid #ccc;
	border-width: 1px 0;
	margin: 1em 0;
}
