#quantity {
	margin: 1em 0;
	border: 1px solid #d3d2d2;
	border-radius: 3px;
	padding: .25em 0.5em;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	.quantity-label {
		font-family: Arial, sans-serif;
		font-size: 14px;
	}
	.quantity {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 18px;
	}
	button {
		position: relative;
		background-color: #ccc;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: none;
		padding: 0;
		cursor: pointer;
		span {
			position: absolute;
			color: #fff;
			font-size: 25px;
			top: -4px;
			left: 5px;
		}
		&.quantity-decrement {
			span {
				left: 7px;
			}
		}
	}
	.controls {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 40%;
		.quantity {
			font-weight: bold;
		}
	}
}
