.carousel {
	display: flex;
	justify-content: center;
	.slider-wrapper {
		position: relative;
		overflow: hidden;
		margin: 0px 1em;
		.slider {
			position: absolute;
			transition: left 200ms;
			img {
				cursor: pointer;
				border: 1px solid transparent;
				&.active {
					border-color: #000;
				}
			}
		}
	}
	button {
		border: none;
		background-color: transparent;
		width: auto;
		padding: 0;
	}
}
