#showcase {
	text-align: center;
	padding: 0 40px;
	h1 {
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-size: 26px;
	}
	.magnify {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		cursor: pointer;
		color: #666;
		img {
			margin-right: 0.5em;
		}
	}
}
