@media (min-width: 1000px) {
	#pdp .pdp-item {
		width: 1000px;
		margin: 0px auto;
		display: grid;
		grid-template-columns: 480px 500px;
		grid-column-gap: 20px;
	}
	#showcase {
		grid-row: 1 / span 1;
	}
	#product-info {
		grid-row: 1 / span 2;
	}
}

@media (max-width: 999px) {
	#pdp .pdp-item {
		width: 500px;
		margin: 0px auto;
	}
}

body {
	font-family: Helvetica, Arial, sans-serif;
}
